@use 'variables' as *;

body {
    background-color: $backGroundColor;
    font-family: $fontGeneral;
    color: $fontColor;
    margin:0 50px 0 50px;
    

    
}
.Container {
   min-width: 300px;
    margin: auto;
    @media screen and (min-width: 800px) {
        width: 90%;
    }
}

// p {
//     margin: 0;
//     padding: 0 0 10px 10px;
// }