<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>Rappel Facile</title>
</head>
<div th:insert="~{header :: header}"></div>

<main class="ContentBox2">

Page d'ajout d'une alerte a creer

</main>

<div th:insert="~{footer :: footer}"></div>
<script src="https://kit.fontawesome.com/0aa6008ea0.js" crossorigin="anonymous"></script>
