<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/images/logo.png}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
    <title>Rappel Facile</title>
</head>
<div th:insert="~{header :: header}"></div>

<main class="ContentBox">
    <h2 class="ContentBox2-title">Votre rendez-vous</h2>
    <section class="ContentBox2-detailRdv">

        <div class="ContentBox2-detailRdv-prestataire">

            <p>
                <span th:text="${rdv.prestataireNom} + ' ' + ${rdv.prestatairePrenom}"></span>
                <br>
                <span class="ContentBox2-detailRdv-prestataire-spe"
                    th:text="${rdv.professionNom}"></span>
            </p>

    
            <div>
                <a th:href="@{'/rdv/' + ${rdv.id} + '/alerte/add'}" class="ContentBox2-detailRdv-btn">
                    <img th:src="@{/images/alerte.png}" alt="ajouter alerte">Ajouter une alarme
                </a>
                <a th:href="@{'/rdv/' + ${rdv.id} + '/alertes'}" class="ContentBox2-detailRdv-btn">
                    <i class="fa-regular fa-bell"></i> Mes alarmes
                </a>
            </div>
        </div>

        <p class="ContentBox2-detailRdv-title">Informations du rendez-vous</p>

        <div class="ContentBox2-detailRdv-card fond1">
            <p class="ContentBox2-detailRdv-card-left">
                <i class="fa-regular fa-calendar"></i> Jour :
            </p>
            <p class="ContentBox2-detailRdv-card-right"
               th:text="${#temporals.format(rdv.dateRdv, 'dd/MM/yyyy')}"></p>
        </div>

        <div class="ContentBox2-detailRdv-card fond2">
            <p class="ContentBox2-detailRdv-card-left">
                <i class="fa-regular fa-alarm-clock RdvBox-card-clock"></i> Heure :
            </p>
            <p class="ContentBox2-detailRdv-card-right"
               th:text="${#temporals.format(rdv.dateRdv, 'HH:mm')}"></p>
        </div>

        <div class="ContentBox2-detailRdv-card fond3">
            <p class="ContentBox2-detailRdv-card-left">
                <i class="fa-regular fa-address-book"></i> Adresse :
            </p>
            <!-- champs plats -->
            <p class="ContentBox2-detailRdv-card-right"
               th:text="|${rdv.adresseNumero} ${rdv.adresseRue}, ${rdv.adresseCodePostal} ${rdv.adresseVille}|"></p>
        </div>

        <div class="ContentBox2-detailRdv-card fond1">
            <p class="ContentBox2-detailRdv-card-left">
                <i class="fa-solid fa-phone"></i> Profession :
            </p>
            <!-- ✅ champ plat -->
            <p class="ContentBox2-detailRdv-card-right"
               th:text="${rdv.professionNom}"></p>
        </div>

        <div class="ContentBox2-detailRdv-card fond2">
            <p class="ContentBox2-detailRdv-card-left">
                <i class="fa-solid fa-book"></i> Motif du rendez-vous :
            </p>
            <p class="ContentBox2-detailRdv-card-right" th:text="${rdv.motif}"></p>
        </div>

        <div class="ContentBox2-detailRdv-card fond3">
            <a th:href="@{'/rdv/delete/' + ${rdv.id}}"
               class="ContentBox2-detailRdv-btn">Annuler le rendez-vous</a>
            <a th:href="@{'/rdv/edit/' + ${rdv.id}}"
               class="ContentBox2-detailRdv-btn">Modifier le rendez-vous</a>
        </div>

        <div>
            <p class="ContentBox2-detailRdv-title">Ajouter une ordonnance</p>
            <input type="file" id="file" name="file"
                   class="ContentBox2-detailRdv-input"
                   placeholder="Telecharger votre ordonnance ici">
        </div>

    </section>
</main>

<div th:insert="~{footer :: footer}"></div>
<script src="https://kit.fontawesome.com/0aa6008ea0.js" crossorigin="anonymous"></script>